body {
    padding: 10px;
}

.test-instruction-container {

}

.test-container {
    margin-top: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.check-button-container {
    margin-top: 10px;
}